[submodule "External/fmdb"]
	path = External/fmdb
	url = https://github.com/ccgus/fmdb.git
[submodule "External/ReactiveCocoa"]
	path = External/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
